# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# IDEs
.idea/
.vscode/

# System Files
.DS_Store
Thumbs.db

# Generated data
test_target_project/access.log
test_target_project/report.json
